.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

:root {
  --custom-light: #f4f1deff;
  --custom-danger: #e07a5fff;
  --custom-dark: #3d405bff;
  --custom-primary: #81b29aff;
  --custom-warning: #f2cc8fff;
}

.nav-land {
  background-color: var(--custom-primary);
  color: var(--custom-light);
  font-family: 'Roboto', sans-serif; 
}

.land-card {
  background-color: var(--custom-primary);
  color: var(--custom-light);
  font-family: 'Roboto', sans-serif; 
}

body {
  background-color: var(--custom-warning);
}